.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 20px;
    background-color: #222;
    justify-content: center;
  }
  
  .nav-item a {
    position: relative;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-item a:hover .tooltip {
    opacity: 1;
    transform: translateY(0);
  }
    